name: CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  format:
    name: Format check
    runs-on: ubuntu-latest
    container: 84codes/crystal:latest-ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: crystal tool format --check

  spec:
    name: Spec
    runs-on: ubuntu-latest
    container: 84codes/crystal:latest-ubuntu-24.04
    steps:
      - name: Print Crystal version
        run: crystal -v

      - name: Checkout
        uses: actions/checkout@v4

      - name: Spec
        run: crystal spec -Dpreview_mt -Dexecution_context
